<ion-header>
  <ion-toolbar>
    <ion-title>Clientes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="download()">
        <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
      </ion-button>
      <ion-button (click)="openModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-list>

    <ion-item *ngFor="let client of clients" (click)="guardar(client)">
      <ion-label>
        <div class=popLine>
          {{ client.name }}
        </div>
        <div class=popLine>
          email: {{ client.email }}
        </div>
        <div class=popLine>
          telefono: {{ client.phone }}
        </div>
      </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="deleteClient(client.email)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  </ion-list>
</ion-content>
