<ion-header>
  <ion-toolbar>
    <ion-title>
      Agregar nuevo cliente
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="false">
    <ion-item lines="full">
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input type="text" #nombre required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Dirección:</ion-label>
      <ion-input type="text" #direccion required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Telefono:</ion-label>
      <ion-input type="text" #phone required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Correo:</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Nota:</ion-label>
      <ion-input type="text" #nota required></ion-input>
    </ion-item>

    <ion-label position="floating">Coordenadas:</ion-label>
    <ion-item lines="full">
      <ion-label position="floating">Latitud:</ion-label>
      <ion-input type="text" #latitude required></ion-input>
    </ion-item>


    <ion-item lines="full">
      <ion-label position="floating">Longitud:</ion-label>
      <ion-input type="text" #longitude required></ion-input>
    </ion-item>


    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          (click)="guardar(nombre, direccion, phone, email, nota, latitude, longitude)"
          expand="block"
          >Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
