<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label position="floating">Correo electrónico:</ion-label>
    <ion-input type="text" #email required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Contraseña:</ion-label>
    <ion-input type="password" #password required></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="logIn(email, password)" expand="block"
        >Iniciar sesión</ion-button
      >
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button
        expand="block"
        color="warning"
        [routerLink]="['/password-reset']"
      >
        Reset contraseña
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button
        type="submit"
        color="danger"
        (click)="authService.GoogleAuth()"
        expand="block"
      >
        Iniciar sesión con Google
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
