<ion-header>
  <ion-toolbar>
    <ion-title>Visitas Técnicas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="download()">
        <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
      </ion-button>
      <ion-button (click)="openModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-list>
    <ion-item *ngFor="let visita of visitas">
      <ion-label>
        <h1 class="popLine ion-text-bold">
          <strong>Cliente: {{ visita.client[0].name }}</strong>
        </h1>
        <div class=popLine>
          Supervisor: <strong>{{ visita.supervisor[0].name}}</strong>
        </div>
        <div class=popLine>
          Técnico: <strong>{{ visita.tecnico[0].name}}</strong>
        </div>
        <div class=reason>
          {{ visita.reason }}
        </div>
        <div class=popLine>
          Comenzó la visita: {{ visita.startTime }}
        </div>
        <div class=popLine>
          Finalizo la visita: {{ visita.endTime }}
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="updateVisit(visita)">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="deleteVisit(visita._id)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>

