<ion-header>
  <ion-toolbar>
    <ion-title>
      Agregar nuevo usuario
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="false">
    <ion-item>
      <ion-label>Supervisor:</ion-label>
      <ion-select #supervisor required [disabled]="visit">
        <ion-select-option *ngFor="let supervisor of supervisores"
          [value]="supervisor._id">{{supervisor.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="visit">
      <ion-label>{{visit.supervisor[0].name}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Técnico:</ion-label>
      <ion-select #tecnico required [disabled]="visit">
        <ion-select-option *ngFor="let tecnico of tecnicos" [value]="tecnico._id">{{tecnico.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="visit">
      <ion-label>{{visit.tecnico[0].name}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Cliente:</ion-label>
      <ion-select #client required [disabled]="visit">
        <ion-select-option *ngFor="let client of clients" [value]="client._id">{{client.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="visit">
      <ion-label>{{visit.client[0].name}}</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Razon:</ion-label>
      <ion-input type="text" #reason required [disabled]="visit"></ion-input>
    </ion-item>
    <ion-item *ngIf="visit">
      <ion-label>{{visit.reason}}</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Fecha/hora de inicio: {{fechaHoraEntrada}}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="saveStart()">Obtener</ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Fecha/hora de finalizacion: {{fechaHoraSalida}}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="saveEnd()">Obtener</ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item *ngIf="visit" lines="full">
      <ion-grid>
        <ion-row>
          Coordenadas:
        </ion-row>
        <ion-row>
          Latitud: {{visit.coordinates.latitude}}
        </ion-row>
        <ion-row>
          Longuitud: {{visit.coordinates.longitude}}
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="!visit" lines="full">
      <ion-grid>
        <ion-row>
          Coordenadas:
        </ion-row>
        <ion-row>
          Latitud: {{this.selectedCoordinates?.lat}}
        </ion-row>
        <ion-row>
          Longuitud: {{this.selectedCoordinates?.lng}}
        </ion-row>
      </ion-grid>
    </ion-item>


      <div id="map"></div>
    <ion-row *ngIf="visit">
      <ion-col>
        <ion-button type="submit" (click)="Modificar()" expand="block">Actualizar</ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!visit">
      <ion-col>
        <ion-button type="submit" (click)="guardar(supervisor,tecnico, client, reason)" expand="block">Guardar
          visita</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>