<ion-header>
  <ion-toolbar>
    <ion-title>Configuración de sistema/usuarios
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="download()">
        <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
      </ion-button>
      <ion-button (click)="openModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>
        <div class="popLine ion-text-bold">
          <strong>{{ user.role }}</strong>
        </div>
        <div class=popLine>
          {{ user.name }}
        </div>
        <div class=popLine>
          email: {{ user.email }}
        </div>
        <div *ngIf="user.delegatedUsers.length !== 0" class="popLine ion-text-bold">
          <strong>Técnicos delegados:</strong>
        </div>
        <ion-label *ngFor="let subItem of user.delegatedUsers">{{ subItem.name }}</ion-label>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="deleteUser(user.email)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>

