<ion-header>
  <ion-toolbar>
    <ion-title>
      Agregar nuevo usuario
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="false">
    <ion-item lines="full">
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input type="text" #name required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Correo:</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Rol:</ion-label>
       <ion-select #role required>
         <ion-select-option>admin</ion-select-option> 
         <ion-select-option>supervisor</ion-select-option> 
         <ion-select-option>tecnico</ion-select-option> 
       </ion-select>
     </ion-item>

     <ion-item>
      <ion-label>Técnico delegado:</ion-label>
       <ion-select #delegatedUsers required [multiple]="true">
         <ion-select-option *ngFor="let tecnico of tecnicos" [value]="tecnico._id">{{tecnico.name}}</ion-select-option> 
       </ion-select>
     </ion-item>

    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          (click)="guardar(name, email, role, delegatedUsers)"
          expand="block"
          >Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
