<ion-header>
  <ion-toolbar>
    <ion-title>Panel de control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <strong class="ion-text-center">{{user.displayName}}</strong>
    </ion-row>
    <ion-row>
      <span class="divider line one-line">{{user.email}}</span>
    </ion-row>
    <span class="already"> Elige una opción:</span>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button [routerLink]="['/client']" expand="block" color="primary">Clientes</ion-button>
        <span class="divider line one-line"></span>
        <ion-button [routerLink]="['/schedule']" expand="block" color="primary">Visitas a clientes</ion-button>
        <span class="divider line one-line"></span>
        <ion-button [routerLink]="['/user']" expand="block" color="primary">Configuración de sistema/usuarios</ion-button>
        <span class="divider line one-line"></span>
        <span class="divider line one-line"></span>

        <ion-button type="submit" (click)="authService.SignOut()" expand="block" color="danger">Cerrar sesión</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>