<ion-header>
  <ion-toolbar>
    <ion-title> Manejador de citas técnicas a clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button
          [routerLink]="['/registration']"
          expand="block"
          color="primary"
          >Registrarse</ion-button
        >
        <span class="divider line one-line">ó</span>
        <span class="already"> Ya tienes usuario?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger"
          >Iniciar sesión</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
